    <nav class="navbar navbar-dark bg-nav">
        <a class="navbar-brand pt-0 pb-0"><img src="../public/assets/images/TALogo2.png" width="80px">&nbsp;&nbsp;TOGETHER:AGAINST</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            <button class="btn btn-light my-2 my-sm-0 ml-2" type="submit" data-id="{{id}}" data-loggedIn="{{logged}}">
                {{#if logged}}{{avatar}}{{else}}<i class="far fa-user-circle"></i>{{/if}}
            </button>
        </form>
    </nav>

    <div id="main">

        <!-- COUCH SECTION/////////////////////////////////////////////////////////////////////////// -->
        <div class="row pt-3 pb-3">
            <div class="col-4 text-center pl-5">
                <img src="assets/images/couch.png" width="280px">
                    <div class="row">
                        <div class="col-12 couchEventHeader">
                            COUCH EVENTS
                        </div>
                    </div>

                {{#each couchEvents}}

                    <div class="row my-1" data-id="{{ceID}}">
                        <div class="col-12 pt-2 pb-2 event-turf">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="event{{ceID}}-tab" data-toggle="tab" href="#event{{ceID}}" role="tab" aria-controls="Event" aria-selected="true">Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="desc{{ceID}}-tab" data-toggle="tab" href="#desc{{ceID}}" role="tab" aria-controls="Description" aria-selected="false">Description</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active text-left py-3 px-2" id="event{{ceID}}" role="tabpanel" aria-labelledby="event{{ceID}}-tab">
                                    {{eventIcon}}
                                    <img class="eventIcon rounded float-left" src="assets/images/sf5.png" width="50px">
                                    <p>&nbsp;{{eventTitle}}</p>
                                </div>
                                <div class="tab-pane fade text-left py-3 px-2 text-center" id="desc{{ceID}}" role="tabpanel" aria-labelledby="desc{{ceID}}-tab">
                                    {{playerIcon1}}
                                    {{playerIcon2}}
                                    <img src="assets/images/peggy.png" class="rounded float-left" alt="..." width="50px">
                                    <img src="assets/images/phillipa.png" class="rounded float-right" alt="..." width="50px">
                                    <span>{{eventVs}}<br>{{eventTime}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {{/each}}


                <div class="row">
                    <div class="col-12 couchEventHeader">
                        <br>
                    </div>
                    <div class="col-12">
                        <img src="assets/images/couchBottom.png" width="280px">
                    </div>
                </div>
            </div>

            <!-- TABLE SECTION/////////////////////////////////////////////////////////////////////////// -->
            <div class="col-4 text-center pl-4 pr-4">
                <img src="assets/images/table.png" width="280px">
                    <div class="row">
                        <div class="col-12 couchEventHeader">
                            TABLE EVENTS
                        </div>
                    </div>

                {{#each tableEvents}}

                    <div class="row my-1" data-id="{{teID}}">
                        <div class="col-12 pt-2 pb-2 event-turf">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="event{{teID}}-tab" data-toggle="tab" href="#event{{teID}}" role="tab" aria-controls="Event" aria-selected="true">Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="desc{{teID}}-tab" data-toggle="tab" href="#desc{{teID}}" role="tab" aria-controls="Description" aria-selected="false">Description</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active text-left py-3 px-2" id="event{{teID}}" role="tabpanel" aria-labelledby="event{{teID}}-tab">
                                    {{eventIcon}}
                                    <img class="eventIcon rounded float-left" src="assets/images/sf5.png" width="50px">
                                    <p>&nbsp;{{eventTitle}}</p>
                                </div>
                                <div class="tab-pane fade text-left py-3 px-2 text-center" id="desc{{teID}}" role="tabpanel" aria-labelledby="desc{{teID}}-tab">
                                    {{playerIcon1}}
                                    {{playerIcon2}}
                                    <img src="assets/images/peggy.png" class="rounded float-left" alt="..." width="50px">
                                    <img src="assets/images/phillipa.png" class="rounded float-right" alt="..." width="50px">
                                    <span>{{eventVs}}<br>{{eventTime}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {{/each}}

                <div class="row">
                    <div class="col-12 couchEventHeader">
                        <br>
                    </div>
                    <div class="col-12">
                        <img src="assets/images/tableBottom.png" width="280px">
                    </div>
                </div>
            </div>


            <!-- TURF SECTION/////////////////////////////////////////////////////////////////////////// -->
            <div class="col-4 text-center pr-5">
                <img src="assets/images/turf.png" width="280px">
                    <div class="row">
                        <div class="col-12 couchEventHeader">
                            TURF EVENTS
                        </div>
                    </div>

                {{#each turfEvents}}

                    <div class="row my-1" data-id="{{tueID}}">
                        <div class="col-12 pt-2 pb-2 event-turf">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="event{{tueID}}-tab" data-toggle="tab" href="#event{{tueID}}" role="tab" aria-controls="Event" aria-selected="true">Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="desc{{tueID}}-tab" data-toggle="tab" href="#desc{{tueID}}" role="tab" aria-controls="Description" aria-selected="false">Description</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active text-left py-3 px-2" id="event{{tueID}}" role="tabpanel" aria-labelledby="event{{tueID}}-tab">
                                    {{eventIcon}}
                                    <img class="eventIcon rounded float-left" src="assets/images/sf5.png" width="50px">
                                    <p>&nbsp;{{eventTitle}}</p>
                                </div>
                                <div class="tab-pane fade text-left py-3 px-2 text-center" id="desc{{tueID}}" role="tabpanel" aria-labelledby="desc{{tueID}}-tab">
                                    {{playerIcon1}}
                                    {{playerIcon2}}
                                    <img src="assets/images/peggy.png" class="rounded float-left" alt="..." width="50px">
                                    <img src="assets/images/phillipa.png" class="rounded float-right" alt="..." width="50px">
                                    <span>{{eventVs}}<br>{{eventTime}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {{/each}}

                <div class="row">
                    <div class="col-12 couchEventHeader">
                        <br>
                    </div>
                    <div class="col-12">
                        <img src="assets/images/turfBottom.png" width="280px">
                    </div>
                </div>
            </div>      

        </div>
    </div>

    <footer class="footer pt-3 pb-3">
        <div class="container text-center">
            <span>TOGETHER:AGAINST 2020</span>
        </div>
    </footer>
