    <nav class="navbar navbar-dark bg-nav">
        <a class="navbar-brand pt-0 pb-0"><img src="/assets/images/TALogo2.png" width="80px">&nbsp;&nbsp;TOGETHER:AGAINST</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            <button class="btn btn-light my-2 my-sm-0 ml-2" type="submit" data-id="{{id}}" data-loggedIn="{{logged}}">
                {{#if logged}}{{avatar}}{{else}}<i class="far fa-user-circle"></i>{{/if}}
            </button>
        </form>
    </nav>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-8 pt-5">
          <h2>Welcome!</h2>
          {{userName}}
          <br/>
          <p>Thanks for stopping by! Visit the main event hub, select a specific event type, or create one of your own!</p>
          <button class="btn btn-light w-100 mb-1">All Events</button>
          <button class="btn btn-light w-100 mb-1">Couch Events</button>
          <button class="btn btn-light w-100 mb-1">Table Events</button>
          <button class="btn btn-light w-100 mb-1">Turf Events</button>          
          <button class="btn btn-warning w-100 mb-1" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
            Create Event
          </button>
            
          <div class="collapse" id="collapseMenu">
            <div class="card card-body">
              <form>
                <div class="form-group">
                  <label for="eventTypeSelect">Event Type</label>
                  <select class="form-control" id="eventTypeSelect">
                    <option>Couch Event</option>
                    <option>Table Event</option>
                    <option>Turf Event</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="eventTitle">Event Title</label>
                  <input type="text" class="form-control" id="eventTitle" placeholder="Event Title">
                </div>
                <div class="form-group">
                  <label for="eventDescription">Description</label>
                  <input type="text" class="form-control" id="eventDescription" placeholder="Event Description">
                </div>
                <div class="form-group">
                  <label for="playerOneName">Opponent #1</label>
                  <input type="text" class="form-control" id="playerOneName" placeholder="Player Name/Team Name">
                </div>
                <div class="form-group">
                  <label for="playerOneStats">Opponent #1 Stats</label>
                  <textarea class="form-control" id="playerOneStats" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="playerTwoName">Opponent #2</label>
                  <input type="text" class="form-control" id="playerTwoName" placeholder="Player Name/Team Name">
                </div>
                <div class="form-group">
                  <label for="playerTwoStats">Opponent #2 Stats</label>
                  <textarea class="form-control" id="playerTwoStats" rows="3"></textarea>
                </div>
                <button class="btn btn-warning create-event" type="submit">Generate!</button>
              </form>            
            </div>
          </div>

          <div class="couchEventHeader w-100 pl-3">
              YOUR EVENTS
          </div>
          <ul class="pt-1">
            {{#each userEvents}}
            <li>
              {{eventTitle}}
              {{!-- will need to refer to a unique ID for button functionality --}}
              <button class="btn btn-danger float-right" type="submit">Remove</button>
              <button class="btn btn-secondary float-right mr-1" type="submit">Conclude</button>
              <button class="btn btn-light float-right mr-1" type="submit">View</button>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="footfix w-100">
      &nbsp;
    </div>

    <footer class="footer">
        <div class="text-center">
          <span>TOGETHER:AGAINST 2020</span>
        </div>
    </footer>
    
    <script type="text/javascript" src="/js/members.js"></script>
    <script type="text/javascript" src="/js/button.js"></script>
