    <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
        <a class="navbar-brand pt-0 pb-0" href="/" style="color: #f7ae3f";><img src="/assets/images/TALogo2.png" width="80px">&nbsp;&nbsp;TOGETHER:AGAINST</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/couch-event">Couch Events</a>
                <a class="nav-link" href="/table-event">Table Events</a>
                <a class="nav-link" href="/turf-event">Turf Events</a>
            </div>
        </div>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            <button class="btn btn-light my-2 my-sm-0 ml-2" type="submit" data-id="{{id}}" data-loggedIn="{{logged}}">
                {{#if logged}}{{avatar}}{{else}}<i class="far fa-user-circle"></i>{{/if}}
            </button>
        </form>
    </nav>

    <div id="main">
        <div class="row py-3">
            <div class="col-4 text-center">
            </div>
            <div class="col-4 text-center">
                <img src="assets/images/table.png" width="280px" >
            </div>
            <div class="col-4 text-center">
            </div>

            <!-- EVENT NUMBER ONE ROWS-->
            <!-- EVENT NUMBER ONE HEADER-->
            <div class="row eventOne">
                <div class="col-6 text-center pl-5 pr-0">
                    <div class="row pb-1 px-3">
                        <div class="col-12 couchEventHeader">
                            {{tableEvent.teamOne.name}}
                        </div>
                        {{!-- this is here for the progressbar.js  --}}
                        <div id="oppon1"></div>
                    </div>

                    <!-- STAT BOX-->
                    <div class="row eventStats px-3">
                        <div class="col-12 py-2 event-turf">
                            <div class="tab-pane text-left py-3 px-2" id="eventStats1" width="200px">
                                <div style="width: auto; height: 300px;">
                                    <p class="statsText1 py-2 px-2">
                                        {{tableEvent.teamOne.stats}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
            
                    <!-- COMMENT HEADER-->
                    <div class="row pb-1 pt-2 px-3">
                        <div class="col-12 couchEventHeader">
                        COMMENTS FOR {{tableEvent.teamOne.name}}

                        </div>
                    </div>
        
                    <!-- USER COMMENTS-->
                    <div class="row px-3 pb-1">
                        <div class="col-12 py-2 event-turf">
                            <ul class="list-group text-left">
                                {{#each tableEvent.teamOne.comments}}
                                    {{!-- this will probably have to be an array --}}
                                    <li class="listOne list-group-item">{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                </div>
            
                <!-- EVENT NUMBER TWO ROWS-->
                <!-- EVENT NUMBER TWO HEADER-->
                <div class="col-6 text-center pl-0 pr-5">

                    <div class="row pb-1 px-3">
                        <div class="col-12 couchEventHeader">
                            {{tableEvent.teamTwo.name}}
                        </div>
                    </div>

                    <!-- STAT BOX-->
                    <div class="row eventStats px-3">
                        <div class="col-12 py-2 event-turf">
                            <div class="tab-pane text-left py-3 px-2" id="eventStats1" width="200px">
                                <div style="width: auto; height: 300px;">
                                    <p class="statsText2 py-2">
                                        {{tableEvent.teamTwo.stats}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- COMMENT BOX-->
                    <div class="row pt-2 pb-1 px-3">
                        <div class="col-12 couchEventHeader">
                        COMMENTS FOR {{tableEvent.teamTwo.name}}
                        </div>
                    </div>
            
                    <!-- USER COMMENTS-->
                    <div class="row px-3 pb-1">
                        <div class="col-12 py-2 event-turf">
                            <ul class="list-group text-left">
                                {{#each tableEvent.teamTwo.comments}}
                                    {{!-- this will probably have to be an array --}}
                                    <li class="listOne list-group-item">{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
        
                </div>
            </div>

            <div class="col-12">
                <!-- COMMENT BOX HEADER-->
                <div class="row ml-1 mr-1 pl-3 pr-3 pb-1 pt-1">
                    <div class="col-12 text-center couchEventHeader">
                        BACK UP YOUR PROJECTED WINNER
                    </div>
                </div>
                

                <!-- COMMENT BOX-->
                <form class="text-center pb-2">
                    <div class="form-group ml-1 mr-1 pl-3 pr-3">
                        <textarea class="form-control" id="formControlTextarea" rows="3" placeholder="Comment on why you think your choice will win..."></textarea>
                        <input class="btn btn-warning float-left ml-5 px-5" type="submit" value="Vote for {{tableEvent.teamOne.name}}!">
                        <input class="btn btn-warning float-right mr-5 px-5" type="submit" value="Vote for {{tableEvent.teamTwo.name}}!">
                    </div>
                </form>
                <br>


                <!-- PICTURES-->
                <div class="row ml-1 mr-1 pl-3 pr-3">
                    <div class="col-12 couchEventHeader">
                        <br>
                    </div>
                </div>
                <div class="row ml-1 mr-1 pl-3 pr-3">
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/tableBottom.png" width="280px" >
                    </div>
                    <div class="col-4 text-center">
                    </div>
                </div>
            </div>


        </div>


    </div>

    <!-- FOOTER -->
    <footer class="footer pt-3 pb-3">
        <div class="container text-center">
            <span>TOGETHER:AGAINST 2020</span>
        </div>
    </footer>

    <script type="text/javascript" src="js/bar.js"></script>